body{
    font-family: 'Redressed', cursive;
}
h1{
    color: orange;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
.programming-hero-font{
    font-weight: 400;
    font-size: 30px;
    color: slateblue;
}
.half-width-top{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-right: 2%;
    font-size: 20px;
}
half-width-top img{
    width: 100%;
}
.student-of{
    color: teal;
    font-size: 16px;
}
.half-width-mid{
    width: 23%;
    float: left;
    margin-left: 5%;
    padding-right: 2%;
}
section{
    height: 520px;
    padding-bottom: 100px;
    padding-top: 10px;
}
.link-button{
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 18px;
    width: 160px;
    color: white;
    background-image: linear-gradient(360deg, lightsalmon, tomato, lightsalmon);
    cursor: pointer;
    padding: 10px, 20px;
    font-weight: 700px;
    border-radius: 3px;
}
button:active{
	transform:scale(1.1);
}
.hire-btn{
	border:2px solid black;
	color:black;
    background-color:transparent;
    cursor: pointer;
    padding: 10px, 20px;
    font-weight: 700px;
}
.down-cv{
	background-color:black;
	color:white;	
    border:none;
    cursor: pointer;
    padding: 10px, 20px;
    font-weight: 700px;
}
.single-block{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 60%;
    background-color: white;
    padding-right: 25px;
    padding-left: 25px;
}
.block-text{
    text-align: center;
}
h2{
    text-align: center;
}
.block-border{
    border-bottom: black solid;
    border-image: linear-gradient(white,black);
    border-image-slice: 3;
}
.link-button-mid{
    text-decoration: none;
    font-size: 18px;
    width: 160px;
    color: white;
    background-image: linear-gradient(360deg, lightsalmon, tomato, lightsalmon);
    cursor: pointer;
    padding: 10px, 20px;
    font-weight: 700px;
    border-radius: 3px;
}
