body{
    font-family: 'Redressed', cursive;
}
h1{
    color: orange;
}
h3{
    text-align: center;
}
.programming-hero-font{
    font-weight: 400;
    font-size: 30px;
    color: slateblue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-right: 2%;
}
section{
    height: 520px;
    padding-bottom: 100px;
    padding-top: 10px;
}
.link-button{
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 18px;
    width: 160px;
    color: white;
    background-image: linear-gradient(360deg, blue, white);
    cursor: pointer;
    padding: 10px, 20px;
    font-weight: 700px;
    border-radius: 5px;
}
button:active{
	transform:scale(1.1);
}
.hire-btn{
	border:2px solid black;
	color:black;
    background-color:transparent;
    cursor: pointer;
    padding: 10px, 20px;
    font-weight: 700px;
}
.down-cv{
	background-color:black;
	color:white;	
    border:none;
    cursor: pointer;
    padding: 10px, 20px;
    font-weight: 700px;
}
.single-block{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 60%;
    background-color: white;
    padding-right: 25px;
    padding-left: 25px;
}